/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,  * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {color: #222;font-size: 1em;line-height: 1.4;}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {background: #b3d4fc;text-shadow: none;}

::selection {background: #b3d4fc;text-shadow: none;}

/*
 * A better looking default horizontal rule
 */

hr {display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}

/*
 * Remove the gap between audio, canvas, iframes,  * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {vertical-align: middle;}

/*
 * Remove default fieldset styles.
 */

fieldset {border: 0;margin: 0;padding: 0;}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {resize: vertical;}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {margin: 0.2em 0;background: #ccc;color: #000;padding: 0.2em 0;}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {display: none !important;visibility: hidden;}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto;height: auto;margin: 0;overflow: visible;position: static;width: auto;}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {visibility: hidden;}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {content: " "; /* 1 */display: table; /* 2 */}

.clearfix:after {clear: both;}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {/* Style adjustments for viewports that meet the condition */
}

@media print,        (-o-min-device-pixel-ratio: 5/4),        (-webkit-min-device-pixel-ratio: 1.25),        (min-resolution: 120dpi) {/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {*,     *:before,     *:after {    background: transparent !important;    color: #000 !important; /* Black prints faster:                               http://www.sanbeiji.com/archives/953 */    box-shadow: none !important;    text-shadow: none !important;}
a,     a:visited {    text-decoration: underline;}
a[href]:after {    content: " (" attr(href) ")";}
abbr[title]:after {    content: " (" attr(title) ")";}
/* * Don't show links that are fragment identifiers,      * or use the `javascript:` pseudo protocol */
a[href^="#"]:after,     a[href^="javascript:"]:after {    content: "";}
pre,     blockquote {    border: 1px solid #999;    page-break-inside: avoid;}
/* * Printing Tables: * http://css-discuss.incutio.com/wiki/Printing_Tables */
thead {    display: table-header-group;}
tr,     img {    page-break-inside: avoid;}
img {    max-width: 100% !important;}
p,     h2,     h3 {    orphans: 3;    widows: 3;}
h2,     h3 {    page-break-after: avoid;}
}
 body{background: white;}
.left{float: left;}
.right{float: right;}
.headline{padding: 0px 0px 30px 0px;text-align: center;}
.headline h4{font-size: 48px;text-transform: uppercase;color: #4CAF50;}

.navbar_section{background: #3F51B5;height: 60px;}
.navHeight{height: 60px;}

/*-- slider section --*/
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {position: absolute;}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {position: absolute;/* size of bullet elment */width: 16px;height: 16px;background: url('../images/b05.png') no-repeat;overflow: hidden;cursor: pointer;}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 22 css */
/*
.jssora22l                  (normal)
.jssora22r                  (normal)
.jssora22l:hover            (normal mouseover)
.jssora22r:hover            (normal mouseover)
.jssora22l.jssora22ldn      (mousedown)
.jssora22r.jssora22rdn      (mousedown)
*/
.jssora22l, .jssora22r {display: block;position: absolute;/* size of arrow element */width: 40px;height: 58px;cursor: pointer;background: url('../images/a22.png') center center no-repeat;overflow: hidden;}
.jssora22l { background-position: -10px -31px; }
.jssora22r { background-position: -70px -31px; }
.jssora22l:hover { background-position: -130px -31px; }
.jssora22r:hover { background-position: -190px -31px; }
.jssora22l.jssora22ldn { background-position: -250px -31px; }
.jssora22r.jssora22rdn { background-position: -310px -31px; }

/*-- short link section --*/
.recent_activity_section{padding: 30px 0px;background: #fff; color: #3F51B5}
.activity{text-align: center;}
.activity_border{border-right: 1px solid rgba(255, 87, 34, 0.2);}
.count_activity{font-size: 48px;color:#FF5722;font-style: italic;font-weight: 700;}
.sub_headline p{line-height: 2.5em;font-size: 24px;}

/*-- short link section --*/
.short_link_section{padding: 30px 0px;color: #fff;background-image: url('../images/sls_bg.jpg');background-repeat: no-repeat;background-attachment: fixed;background-position: center;}
.list-group .list-group-item .list-group-item-heading {color: #FF5722; font-weight: 700;}
.list-group .list-group-item .row-action-primary i, .list-group .list-group-item .row-picture i {background: rgba(76,175,80,0.3);border-radius: 100%;text-align: center;line-height: 56px;font-size: 20px;color: #fff;}

/*-- testimonial section --*/
.testimonial_section{padding: 30px 0px;background: #fff;}
.testimonial_bg{background: rgba(76,175,80,0.1);padding-top: 20px;text-align: justify;}

/*--question section--*/
.question_section{padding: 30px 0px;background: #fff;}
.exam_timeline{text-align: center;}
.exam_timeline p{font-size: 18px;}
.single_question{padding: 15px 0px;overflow: hidden;    border-bottom: 1px solid #ddd;}
.single_question span{float: left;font-size: 18px;line-height: 1.42857143;color: #333;font-weight: 700; margin-right: 5px; color: #009688;}
.single_question p,.radio label, label {font-size: 16px;line-height: 1.42857143;color: #333;font-weight: 400;}
.start_exam{border-bottom: 1px solid #4caf50;margin: 15px 0px;    text-align: center;}
.start_exam_btn{padding-bottom: 15px;}
.question_container{-moz-box-shadow:    inset  0 -10px 10px -10px #ddd,inset  0  10px 10px -10px #ddd;
   -webkit-box-shadow: inset  0 -10px 10px -10px #ddd,inset  0  10px 10px -10px #ddd;
   box-shadow:         inset  0 -10px 10px -10px #ddd,inset  0  10px 10px -10px #ddd;}
.done_exam{text-align: center;margin: 45px 0px 15px 0px;}
.devider{border-bottom: 1px solid #4caf50}

/*-- subscribe section --*/
.exam_result_processing{text-align: center;margin: 35px 0px;}
.exam_result_processing p{font-size: 16px;line-height: 1.42857143;}
.subscriber_email{margin: 32px 0px;}

/*-- result section--*/
#target{font-size: 96px; color: red;}

/*-- all questions section --*/
.all_questions_section{padding: 30px 0px;background: #fff;}
.btn-group-vertical {position: relative;margin: 10px 1px;width: 100%;}
.single_item_question h3{border-bottom: 1px solid #4CAF50;padding: 0px 0px 10px 0px;}
.single_item_question_nav { display: inline-block;}
.single_item_question_nav ul{    list-style: none;margin: 0;padding: 0;}
.single_item_question_nav ul li{display: inline-block;float: left;width: 136px;height: 20px;margin: 0px 5px 5px 0px;}
.single_item_question_nav ul li a{padding: 0px 65px 0px 0px;font-size: 16px;font-weight: 400;}

/*-- footer section --*/
.footer_section{background: #3F51B5;height: 60px;}
.copyright_text{color: #fff;}
.copyright_text p{margin-top: 20px;}
.social_share_nav{margin-top: 20px;}
.social_share_nav ul{}
.social_share_nav ul li{display: inline-block;width: 35px;text-align: center;}
.social_share_nav ul li a{color: #fff;}
.social_share_nav ul li a:hover{color: #FF5722;}